.admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: #232323;
}

.user-table {
    display: flex;
    flex-direction: column;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    
    .heading {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        font-weight: bold;
        color: #fff;
        border-bottom: 2px solid #fff;
        padding-bottom: 10px;
    }

    .user-body {
        .data {
            display: grid;
            text-align: center;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            padding: 20px;
            text-align: center;
            color: #fff;
            padding-bottom: 10px;

            .gender{
                text-transform: capitalize;
            }

            .icon{
                cursor: pointer;
                font-size: 24px;
                transition: 0.3s ease-out;
                padding: 5px 10px;

                &:hover{
                    color: #f04072bf;
                    // background: #fff;
                    filter: drop-shadow(0 0 5px #db1b4e);
                }
            }
        }
    }
}
.user-data{
    border: none;
}

