.lodging {
    display: flex;
    gap: 10px;
    position: relative;

    &.filter-open {
        .filters {
            .filter-container {
                transform: translateX(0);
            }
        }
    }

    .filters {
        position: block;

        .filter-button {
            background: transparent;
            border: none;
            color: #fff;
            font-size: 32px;
            margin-top: 21px;
            margin-left: 1px;
            padding: 10px auto;
            cursor: pointer;
            transition: color 0.3s ease-in-out;
        }

        .filter-container {
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #343434d6;
            z-index: 3;
            font-size: 32px;
            font-weight: 600;
            padding: 20px;
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;

            .filter-button-close {
                position: relative;
                margin-left: -12px;
                cursor: pointer;
                font-size: 32px;
            }
        }

        .filter-content {
            position: absolute;
            background: #232323;
            width: fit-content;
            font-size: 24px;
            padding: 40px;
            font-weight: 400;
            margin-top: 20px;
            gap: 40px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;

            .filter-group {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 20px;

                p {
                    margin: 0;
                    font-weight: 500;
                    font-size: 24px;
                }

                input[type=radio] {
                    accent-color: #64ccc5;
                    height: 20px;
                    width: 20px;
                }
            }

            .button-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 20px;

                button {
                    padding: 10px 20px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 1rem;
                    background: var(--color);
                    border-radius: 2px;
                    border: none;
                    transition: 0.3s ease-out;
                    cursor: pointer;

                    &:hover {
                        filter: drop-shadow(0 0 10px var(--color));
                    }
                }
            }
        }
    }

    .main-list {
        flex: 2;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap: 20px;
        padding: 20px;

        .lodging-card {
            cursor: pointer;
            border-radius: 5px;
            flex-direction: row;
            overflow: hidden;
            box-shadow: 0 5px 10px #ffffff37;
            flex: 2;
            transition: transform 0.2s ease-out;
            height: 25rem;

            &:hover {
                transform: scale(1.05);
            }


            a {
                display: block;
                flex-direction: column;
                color: inherit;
            }

            .image-container {
                height: 200px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: all 0.3s ease-out;

                    &:hover {
                        transform: scale(1.12);
                    }
                }
            }

            .content {
                padding: 10px;

                h3 {
                    font-size: 18px;
                    font-weight: 800;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 14px;
                }

                .rating {
                    display: flex;
                    gap: 2px;

                    .star {
                        padding-right: 5px;
                        color: #FFBF00;
                    }
                }
            }
        }
    }

    .map {
        flex: 1;
    }
}