.travel-details-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: #4c4c4c64;
    margin: 20px;

    .left {
        flex: 1;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 36px;
            font-weight: bold;
        }

        p {
            font-size: 14px;
            margin-bottom: 5px;
        }

        .rating {
            font-size: 24px;

            h3 {
                font-size: 16px;
            }

            .star {
                padding-right: 20px;
                font-size: 42px;
                color: #ffd700;
            }
        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 50px;

        .image-container {
            display: flex;
            margin-right: 50px;

            .image2 {
                filter: drop-shadow(0 0 10px #fff);

                &:hover {
                    z-index: 1;
                }

                img {
                    height: 450px;
                    width: 275px;
                    object-fit: cover;
                    border-radius: 10px;
                    overflow: hidden;
                    opacity: 0.8;
                    transition: all 0.3s ease-out;
                    transform: rotate(-10deg);

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .image3 {
                filter: drop-shadow(0 0 10px #fff);
                position: relative;

                img {
                    position: absolute;
                    height: 500px;
                    width: 300px;
                    object-fit: cover;
                    border-radius: 5px;
                    overflow: hidden;
                    transform: rotate(12deg);
                    transition: all 0.3s ease-out;
                    left: -70px;

                    &:hover {
                        filter: drop-shadow(0 0 12px #000);
                    }
                }
            }
        }
    }
}