.lodging-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #232323;

    .lodging-table {
        display: flex;
        flex-direction: column;
        background: #1e1e1e;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

        .heading {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            text-align: center;
            border-bottom: 1px solid #fff;
            color: #fff;
        }

        .lodging-data {
            .data {

                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                text-align: center;

                .icons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: 32px;
                    gap: 40px;
                    cursor: pointer;

                    .delete {
                        transition: 0.3s ease-out;
                        border-radius: 40%;
                        padding: 10px;

                        &:hover {
                            filter: drop-shadow(1px 1px 10px #d30);
                            color: tomato;
                            background: #fff;
                        }
                    }

                    .edit {
                        transition: 0.3s ease-out;
                        border-radius: 40%;
                        margin-top: 20px;
                        padding: 10px;

                        &:hover {
                            color: #FFBF00;
                            background: #fff;
                            filter: drop-shadow(1px 1px 10px #e6a203);
                        }
                    }
                }
            }
        }
    }
}

.img {
    object-fit: cover;
    height: 90px;
    width: 90px;
}

th {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}

td {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}

table {
    padding: 10px;
}
